# Global ignores
node_modules/
.env
.env.local
.DS_Store
dist/
build/

# Specific ignores for aniwatch-api
/aniwatch-api/node_modules/
/aniwatch-api/.env
/aniwatch-api/.env.local

# Other directory ignores
**/node_modules/
**/.env
**/.env.local

# Explicitly include aniwatch-api
!aniwatch-api/
