@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.dm {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Lato", sans-serif;
  width: 100%;
  font-weight: 400;
  background-color: theme("colors.gray.950");
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Slim width */
  background-color: theme("colors.gray.950"); /* No background */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 10px; /* Rounder corners for a sleek look */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker thumb on hover */
}

/* Firefox */
* {
  scrollbar-width: thin; /* Slim scrollbar */
  scrollbar-color: #888 theme("colors.gray.950"); /* Thumb color and transparent background */
}
.sidebar {
  width: 60px; /* Slim width */
  height: 100vh; /* Full height */
  overflow-y: auto; /* Enable scrolling */
  background-color: transparent; /* No background */
}

.sidebar:hover {
  width: 80px; /* Slightly wider on hover */
}
.sidebar {
  transition: width 0.3s ease-in-out; /* Smooth width transition */
}

.swiper-pagination {
  bottom: 2rem !important;
}

.swiper-pagination-bullet {
  transition: all 0.3s ease;
  transform: scale(1.2);
}

.swiper-pagination-bullet-active {
  background: theme("colors.primary") !important;
  transform: scale(1.5);
}
.we {
  color: #333336;
}
